.red {

color: red;
   
  }
  .title{
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 
 .App-src{
    height: 40vmin;
 }
 .App-pub{
    height: 40vmin;  
 }
  
 html, body{
   
    position: relative;
    background: url(../src/MyImage/image.jpg) no-repeat center center fixed;
     background-size: cover;
     height: 100%;
     overflow: auto;
     line-height: 160%;
     position: relative;
  }
  .App{
   
text-align: center;
  
   flex-direction:column-reverse;
  
  }